/* ====== LIST styles ====== */

.sidebar-list {
	width: 250px;
	height: calc(100% - 36px);
	padding: 0;
	overflow: auto;
	list-style-type: none;
}


/* ====== ITEM styles ====== */

.list-item {
	display: block;
	margin: 5px ;
	max-width: 240px;
	height: auto;
	border: 5px solid #000;
}