/* ====== LIST styles ====== */

.sidebar-list {
	width: 270px;
	height: calc(100% - 46px);
	margin: 0;
	padding: 0;
	overflow: auto;
	list-style-type: none;
}


/* ====== ITEM styles ====== */

.list-item {
	display: block;
	box-sizing: border-box;
	margin: 5px ;
	width: 96%;
	height: auto;
	border: 1px solid #f46e00;
	border-radius: 2px;
	padding: 5px 0;
	background-color: #141414;
	transition: .2s ease;
	cursor: pointer;
	font-size: 16px;
	color: #f46e00
}

.list-item-active {
	border-color: #fff;
	color: #fff;
}