/* ====== SEARCH INPUT ====== */

.search-input-wrapper {
	height:36px;
	margin: 5px;
}

.search-input {
	width: 260px;
	height: 36px;
	border: 1px solid #f46e00;
	border-radius: 2px;
	margin: 0;
	padding: 5px;
	background-color: #e5e5e5;
}

::placeholder {
	font-size: 16px;
	color: #4c4c4c;
}