.App {
  text-align: center;
}

:focus {
	outline: 2px solid #0b4cfa;
	border-radius: 3px;
}

a, a:hover {
	color:  #f46e00;
}

a:visited{
	color: #8a8af7
}


/* ====== CONTAINER ====== */

.container {
	display: flex;
	width: 100vw;
	height: calc(100vh - 120px);
}


/* ====== SIDEBAR ======*/

.sidebar {
	height: 100%;
	background-color: #333;
	margin: 0;
	position: relative;
}

.is-hidden {
	width: 0;
}

.is-shown {
	min-width: 270px;
}

.error-msg {
	width: 250px;
	height: 190px;
	margin: 20px auto;
	border: 1px solid #ff0000;
	background-color: #fff;
}

.error-pos {
	position: relative;
	margin-left: auto;
	margin-top: calc(100vh - 340px);
}

.error-info {
	margin: 20px 10px;
	font-size: 20px;
	font-family: monospace;
	color: #ff0000;
}


/* ====== MAP ======*/

.map {
	flex-grow: 1;
	width: 100%;
	min-width: 320px;
	height: calc(100vh-120px);
	position: relative;
}





