.App {
  text-align: center;
}


/* ====== HEADER ====== */


.header {
	display: flex;
	justify-content: center;
	align-items: center;
  height: 60px;
  background-color: #222;
  color: #fff;
}

.header-menu {
	display: initial;
	position: fixed;
	top: 0;
	left: 0;
	margin: 17px;
	cursor: pointer;
}

.menu-icon {
  width: 40px;
  height: 5px;
  display: block;
  margin-bottom: 5px;
}

.menu-color {
	background-color: #ddd;
}

.menu-active {
	background-color: #fff;
}

.header-menu:hover path {
	fill: #fff;
}

.header-logo {
  animation: header-logo-spin infinite 20s linear;
  height: 40px;
	padding: 10px;
}

@keyframes header-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header-title {
  font-size: 1.5em;
}


/* ====== CONTAINER ====== */

.container {
	display: flex;
	width: 100vw;
	height: calc(100vh - 120px);
}

/* ====== SIDEBAR ======*/

.sidebar {
/*	width: 200px ;*/
	height: 100%;
	background-color: #333;
/*	overflow-y: scroll;*/
	margin: 0;
	position: relative;
}

.is-hidden {
	width: 0;
}

.is-shown {
	min-width: 270px;
}

.error-msg {
	width: 250px;
	margin: 20px auto;
	border: 1px solid #ff0000;
}

.error-info {
	margin: 20px 10px;
	font-size: 20px;
	font-family: monospace;
	color: #ff0000;
	
}



/* ====== MAP ======*/

.map {
	flex-grow: 1;
	width: 100%;
	height: calc(100vh-120px);
	position: relative;
}


/* ====== FOOTER ====== */

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
  background-color: #222;
  color: #fff;
}


/* ====== @MEDIA ====== */


@media screen and (min-width: 1024px) {
	.header-menu {
		display: none;
	}
	
	.is-hidden {
		min-width: 270px;
	}
}

