/* ====== @MEDIA ====== */

@media (hover:hover) {
	
	/* ====== PLACES LIST ====== */
	
	 .list-item:hover {
			background-color: #f46e00;
			transition: .2s ease;
			color: #fff;	
	 }
}


/* ====== @MEDIA  >= 768 PX ====== */

@media screen and (min-width: 768px) {
	
	/* ====== HEADER ====== */
	
	.header-menu {
		display: none;
	}
	
	.header-title {
		font-size: 24px;
	}
	
	.is-hidden {
		min-width: 270px;
	}
	
	
	/* ====== MAP CONTAINER ====== */
	
	.info-name {
		font-size: 20px;
	}
	
	.info-category,
	info-address,
	info-link {
		font-size: 15px;
	}
	
	
	/* ====== FOOTER ====== */
	
	.footer-content {
	font-size: 14px;
	}
	
}

